---
layout: layouts/base.njk
title: This is the website homepage
jsFiles:
useDefaultHeader: false
hideBanner: true
---
<header class="ians-column-wide-1 mt-3">
  <h1>{{title}}</h1>
  <h2>Blogroll</h2>
</header>

<main>
  <div class="ians-column">

    {{ courseContent.tree | safe }}

  </div>
</main>