---
layout: layouts/base.njk
title: CMS Home
jsFiles:
cssFiles:
useDefaultHeader: false
hideBanner: true
---
<header class="ians-column-wide-1 mt-3">
  <h1>{{title}}</h1>
</header>

<main>
  <div class="ians-column">
    <label for="cms-add-page-title">Add a new page</label>
    <input type="text" id="cms-add-page-title">
    <button type="button">Add page</button>
    <p>Current pages</p>
    <ul>
      <li>Page item</li>
      <li>Page item</li>
      <li>Page item</li>
      <li>Page item</li>
      <li>Page item</li>
    </ul>
  </div>
</main>