---
layout: layouts/base.njk
title: CMS Home
useDefaultHeader: false
hideBanner: true
---
<header class="ians-column-wide-1 mt-3">
  <h1>{{title}}</h1>
</header>

<main>
  <div class="ians-column">
    <form id="cmsForm">
      <label for="cmsAddTitle">Create a new page by entering a title here: </label>
      <div>
        <div>
          <input aria-describedby="cmsInputDescription" type="text" required pattern="^[\w\-\s]+$" id="cmsAddTitle">
          <button type="button" id="cmsSubmit">Add page</button>
        </div>
        <p id="cmsInputDescription" class="mt-0 cms-message">Note: this required field can only contain alphanumeric characters, spaces and "-" or "_".</p>
      </div>
    </form>
    {# <p>Current pages</p>
    <ul>
      <li>Page item</li>
      <li>Page item</li>
      <li>Page item</li>
      <li>Page item</li>
      <li>Page item</li>
    </ul> #}
  </div>
</main>